<ion-view view-title="Directions">
    <ion-content>
      <div>
      <p><b>Origin:</b> Honolulu International Airport<br/>
      <b>Destination:</b> Aloha Resort International Inc.
      </div>
      <p><b>Get on I-H-1 E from Ala Onaona St</b></p>
      <div class="list">
        <div class="item">
          Head west on Aolele St
        </div>
        <div class="item">
          Slight left onto Ala Onaona St
        </div>
        <div class="item">
          Continue onto Aolele St
        </div>
        <div class="item">
          Use the right 2 lanes to turn slightly right to <br/>stay on Aolele St
        </div>
        <div class="item">
          Continue straight
        </div>
        <div class="item">
          Use any lane to take the Interstate H1 E ramp <br/>to Honolulu/Waikiki
        </div>
      </div>
      <p><b>Take HI-92 E to South St</b></p>
      <div class="list">
        <div class="item">
          Merge onto I-H-1 E
        </div>
        <div class="item">
          Use the right 3 lanes to take exit 18A <br/>toward HI-92 E/Waikiki/Nimitz Highway
        </div>
        <div class="item">
          Merge onto HI-92 E
        </div>
      </div>
      <p><b>Turn left onto South St</b> <br/>(Destination will be on the right)</p>
    </ion-content>
</ion-view>